@model OneBox_WebServices.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}
@Html.ValidationSummary(false);
@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Old password:</label>
        @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>New Password:</label>
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Please retype the new password:</label>
        @Html.PasswordFor(x => x.CheckNewPassword, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Create new user</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
}

















<h2>ChangePassword</h2>

