@model OneBox_WebServices.ViewModels.FileSystemViewModel
<!--
   TODO: the code from listoffiles is the same as here;....
    done.
   -->
<div>
    @{
        string currentPath = "";
        string rootName = "";
    }
    <ul class="list-group">
        @{
            int deUnde = Model.pathList.Count - 2;
            int panaUnde = Model.pathList.Count;
            if (deUnde < 0)
            {
                deUnde = 0;
            }
        }
        @for (int i = 0; i < panaUnde; ++i)
        {
            string s = Model.pathList[i];
            currentPath = currentPath + "/" + s;

            if (i == 0)
            {
                rootName = s;
                s = "OneBox";
            }
            if (i >= deUnde)
            {
                <li class='list-currentpath-item current_path' data-href='@currentPath'>
                    @s /
                </li>
            } 
        }
        <div id="current_path_info" data-current_path='@currentPath'></div>
        <div id="current_path_info_selected_file" data-current_path_file='@currentPath'></div>
        <div id="current_path_folder_to_move_from_treeview" data-current_path=""></div>
        <div id="root_name" data-root_name='@rootName'></div>
    </ul>
</div>

<div >
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-7">fullpath</th>
                <th class="col-md-3">name</th>
                <th class="col-md-3">size</th>
            </tr>
        </thead>
        @if (Model.fileSystemList.Count() == 0)
            {
            <tr>
                <td colspan="3" class="text-center">
                    the folder is empty!
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.fileSystemList)
            {
                <tr class='table_of_files_row' data-filename='@item.name' data-href='@item.fullPath' data-filetype='@item.typeFile'>
                    <!--
                        TODO : if i put style in a class and set the cursor property does not work (why????    )
                    -->
                    <td><span style="cursor:default">@item.fullPath</span> </td>
                    <td><span style="cursor:default">@item.name</span> </td>
                    <td><span style="cursor:default">@item.sizeInBytes</span></td>
                </tr>
            }
        }
    </table>

</div>
