@model OneBox_WebServices.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
}


@Html.ValidationSummary(false)
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(model => model.Email)
   
    <div class="form-group">
        <label>New password:</label>
        @Html.PasswordFor(x => x.NewPassword, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Please retype the new password:</label>
        @Html.PasswordFor(x => x.CheckNewPassword, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary" })
}





